<div class='form-group'>
    <label class='label'>Title:</label>
    <input type='text' class='form-control' name='title' value="{{data['title']}}" />
</div>
<div class='form-group'>
    <label class='label'>Description:</label>
    <textarea class='form-control' name='description'>{{data['description']}}</textarea>
</div>
<div class='form-group'>
    <div class="form-check">
        <label class="form-check-label">
            <input type="radio" class="form-check-input" name="completed"
            {%if data['completed'] %}
            checked
            {%endif%}
            >Completed
         </label>
    </div>
    <div class="form-check">
        <label class="form-check-label">
            <input type="radio" class="form-check-input" name="completed"
            {%if not data['completed'] %}
            checked
            {%endif%}>Incomplete
         </label>
    </div>
 
</div>
